"*":
  "advanced-open-file":
    fuzzyMatch: true
  "autocomplete-plus":
    useCoreMovementCommands: false
  core:
    audioBeep: false
    autoHideMenuBar: true
    automaticallyUpdate: false
    customFileTypes:
      "source.css.less": [
        "less.module"
        "css.js"
      ]
    destroyEmptyPanes: false
    disabledPackages: [
      "spell-check"
      "pull-requests"
      "git-plus"
      "vim-mode-plus"
    ]
    ignoredNames: [
      "node_modules"
      "*.sublime-*"
      "*.pyenv"
      "*.pyc"
      "*.aux"
      "*.log"
      "*.dvi"
    ]
    projectHome: "/home/paul/src"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    atomicSoftTabs: false
    fontFamily: "Input Mono"
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "eec108a5-4c17-3820-3957-ea9d80797e43"
  linter: {}
  "linter-ui-default":
    showPanel: true
  "markdown-preview-plus":
    useGitHubStyle: true
  metrics:
    userId: "5d291260a898af305bb20e5a2c3bbdb723a7676f"
  "pull-requests":
    githubAuthorizationToken: "171597a570cdaae505e74ec994ba7465c7cd6776"
  semanticolor:
    cCakeFileLanguageCsharp:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    cLanguageC:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    cLanguageCsharp:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    cScriptFileLanguageCsharp:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    clojureLanguageClojure:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    coffeescriptLanguageCoffeeScript:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    coffeescriptLiterateLanguageCoffeeScript:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    colorOptions:
      fade: 40
      hues: 100
      luminosity: 50
      saturation: 50
    cssLanguageCss:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    editorconfigEditorconfig:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    gitConfigLanguageGit:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    goLanguageGo:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    htmlLanguageHtml:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    javaLanguageJava:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    javaPropertiesLanguageJava:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    javascriptLanguageJavascript:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    javascriptRailsLanguageRubyOnRails:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    jsonLanguageJson:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    lessLanguageLess:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    makefileLanguageMake:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    nantBuildFileLanguageCsharp:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    objectiveCLanguageObjectiveC:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    perl6LanguagePerl:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    perlLanguagePerl:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    phpLanguagePhp:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    propertyListOldStyleLanguagePropertyList:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    pythonLanguagePython:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    regularExpressionsPythonLanguagePython:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    rubyLanguageRuby:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    rubyOnRailsLanguageRubyOnRails:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    rubyOnRailsRjsLanguageRubyOnRails:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    sassLanguageSass:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    scssLanguageSass:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    sqlLanguageSql:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    sqlRailsLanguageRubyOnRails:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    stringsFileLanguageObjectiveC:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    tomlLanguageToml:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    xmlLanguageXml:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
    yamlLanguageYaml:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      enabled: true
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      letiable: "colorize"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
  "tidy-markdown":
    ensureFirstHeaderIsH1: false
    runOnSave: false
  "tree-view":
    hideIgnoredNames: true
  "vim-mode":
    useSmartcaseForSearch: true
  "vim-mode-plus":
    flashOnOperate: false
    flashOnUndoRedo: false
    stayOnDelete: true
    stayOnTransformString: true
    stayOnYank: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".js.regexp.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".js.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
